core/xmldsig-core-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="schema">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="import">
					<xs:complexType>
						<xs:attribute name="namespace" use="required" />
						<xs:attribute name="schemaLocation" use="required" />
					</xs:complexType>
				</xs:element>
				<xs:element name="simpleType" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="annotation" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="documentation" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="restriction">
								<xs:complexType>
									<xs:sequence minOccurs="0">
										<xs:element name="pattern" minOccurs="0">
											<xs:complexType>
												<xs:attribute name="value" use="required" />
											</xs:complexType>
										</xs:element>
										<xs:element name="minLength" minOccurs="0">
											<xs:complexType>
												<xs:attribute name="value" type="xs:integer"
													use="required">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="1" />
															<xs:enumeration value="10" />
															<xs:enumeration value="3" />
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="maxLength" minOccurs="0">
											<xs:complexType>
												<xs:attribute name="value" type="xs:integer"
													use="required" />
											</xs:complexType>
										</xs:element>
										<xs:element name="minInclusive" minOccurs="0">
											<xs:complexType>
												<xs:attribute name="value" type="xs:integer"
													use="required">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="0" />
															<xs:enumeration value="1" />
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="maxInclusive" minOccurs="0">
											<xs:complexType>
												<xs:attribute name="value" type="xs:integer"
													use="required" />
											</xs:complexType>
										</xs:element>
										<xs:element name="enumeration" minOccurs="0">
											<xs:complexType>
												<xs:attribute name="value" use="required" />
											</xs:complexType>
										</xs:element>
										<xs:element name="totalDigits" minOccurs="0">
											<xs:complexType>
												<xs:attribute name="value" type="xs:integer"
													use="required">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="14" />
															<xs:enumeration value="4" />
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="fractionDigits" minOccurs="0">
											<xs:complexType>
												<xs:attribute name="value" type="xs:integer"
													use="required" fixed="2" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="base" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="xsd:decimal" />
												<xs:enumeration value="xsd:integer" />
												<xs:enumeration value="xsd:string" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="name" type="xs:ID" use="required" />
					</xs:complexType>
				</xs:element>
				<xs:element name="complexType" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="annotation" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="documentation" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="sequence">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="element" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence minOccurs="0">
													<xs:element name="complexType" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="sequence">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element
																				name="element"
																				maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:attribute
																						name="name"
																						type="xs:ID"
																						use="required" />
																					<xs:attribute
																						name="minOccurs"
																						type="xs:integer"
																						use="required">
																						<xs:simpleType>
																							<xs:restriction
																								base="xs:string">
																								<xs:enumeration
																									value="0" />
																								<xs:enumeration
																									value="1" />
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:attribute>
																					<xs:attribute
																						name="type"
																						use="required" />
																					<xs:attribute
																						name="maxOccurs"
																						type="xs:integer" />
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="name" use="required" />
												<xs:attribute name="type" />
												<xs:attribute name="minOccurs" type="xs:integer">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="0" />
															<xs:enumeration value="1" />
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="maxOccurs" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="name" type="xs:ID" use="required" />
					</xs:complexType>
				</xs:element>
				<xs:element name="element">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="complexType">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="sequence">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="element" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence minOccurs="0">
																<xs:element name="complexType"
																	minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element
																				name="sequence">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element
																							name="element"
																							maxOccurs="unbounded">
																							<xs:complexType>
																								<xs:sequence
																									minOccurs="0">
																									<xs:element
																										name="complexType"
																										minOccurs="0">
																										<xs:complexType>
																											<xs:sequence
																												minOccurs="0">
																												<xs:element
																													name="sequence"
																													minOccurs="0">
																													<xs:complexType>
																														<xs:sequence>
																															<xs:element
																																name="element"
																																maxOccurs="unbounded">
																																<xs:complexType>
																																	<xs:sequence
																																		minOccurs="0">
																																		<xs:element
																																			name="complexType"
																																			minOccurs="0">
																																			<xs:complexType>
																																				<xs:sequence>
																																					<xs:element
																																						name="sequence">
																																						<xs:complexType>
																																							<xs:sequence>
																																								<xs:element
																																									name="element"
																																									maxOccurs="unbounded">
																																									<xs:complexType>
																																										<xs:sequence
																																											minOccurs="0">
																																											<xs:element
																																												name="complexType"
																																												minOccurs="0">
																																												<xs:complexType>
																																													<xs:sequence>
																																														<xs:element
																																															name="attribute"
																																															maxOccurs="unbounded">
																																															<xs:complexType>
																																																<xs:sequence>
																																																	<xs:element
																																																		name="simpleType">
																																																		<xs:complexType>
																																																			<xs:sequence>
																																																				<xs:element
																																																					name="restriction">
																																																					<xs:complexType>
																																																						<xs:sequence>
																																																							<xs:element
																																																								name="minLength">
																																																								<xs:complexType>
																																																									<xs:attribute
																																																										name="value"
																																																										type="xs:integer"
																																																										use="required" />
																																																								</xs:complexType>
																																																							</xs:element>
																																																							<xs:element
																																																								name="maxLength">
																																																								<xs:complexType>
																																																									<xs:attribute
																																																										name="value"
																																																										type="xs:integer"
																																																										use="required" />
																																																								</xs:complexType>
																																																							</xs:element>
																																																						</xs:sequence>
																																																						<xs:attribute
																																																							name="base"
																																																							use="required" />
																																																					</xs:complexType>
																																																				</xs:element>
																																																			</xs:sequence>
																																																		</xs:complexType>
																																																	</xs:element>
																																																</xs:sequence>
																																																<xs:attribute
																																																	name="name"
																																																	use="required" />
																																																<xs:attribute
																																																	name="use"
																																																	use="required" />
																																															</xs:complexType>
																																														</xs:element>
																																													</xs:sequence>
																																												</xs:complexType>
																																											</xs:element>
																																										</xs:sequence>
																																										<xs:attribute
																																											name="name"
																																											use="required" />
																																										<xs:attribute
																																											name="type" />
																																										<xs:attribute
																																											name="minOccurs"
																																											type="xs:integer" />
																																										<xs:attribute
																																											name="maxOccurs" />
																																									</xs:complexType>
																																								</xs:element>
																																							</xs:sequence>
																																						</xs:complexType>
																																					</xs:element>
																																				</xs:sequence>
																																			</xs:complexType>
																																		</xs:element>
																																	</xs:sequence>
																																	<xs:attribute
																																		name="name"
																																		type="xs:ID"
																																		use="required" />
																																	<xs:attribute
																																		name="maxOccurs" />
																																	<xs:attribute
																																		name="minOccurs"
																																		type="xs:integer" />
																																	<xs:attribute
																																		name="type" />
																																</xs:complexType>
																															</xs:element>
																														</xs:sequence>
																													</xs:complexType>
																												</xs:element>
																												<xs:element
																													name="simpleContent"
																													minOccurs="0">
																													<xs:complexType>
																														<xs:sequence>
																															<xs:element
																																name="extension">
																																<xs:complexType>
																																	<xs:sequence>
																																		<xs:element
																																			name="attribute">
																																			<xs:complexType>
																																				<xs:attribute
																																					name="name"
																																					use="required" />
																																				<xs:attribute
																																					name="type"
																																					use="required" />
																																				<xs:attribute
																																					name="use"
																																					use="required" />
																																			</xs:complexType>
																																		</xs:element>
																																	</xs:sequence>
																																	<xs:attribute
																																		name="base"
																																		use="required" />
																																</xs:complexType>
																															</xs:element>
																														</xs:sequence>
																													</xs:complexType>
																												</xs:element>
																											</xs:sequence>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																								<xs:attribute
																									name="name"
																									type="xs:ID"
																									use="required" />
																								<xs:attribute
																									name="type" />
																								<xs:attribute
																									name="minOccurs"
																									type="xs:integer">
																									<xs:simpleType>
																										<xs:restriction
																											base="xs:string">
																											<xs:enumeration
																												value="0" />
																											<xs:enumeration
																												value="1" />
																										</xs:restriction>
																									</xs:simpleType>
																								</xs:attribute>
																								<xs:attribute
																									name="maxOccurs" />
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="annotation"
																	minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element
																				name="documentation"
																				maxOccurs="unbounded"
																				type="xs:string" />
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="name" />
															<xs:attribute name="type" />
															<xs:attribute name="minOccurs"
																type="xs:integer" />
															<xs:attribute name="maxOccurs"
																type="xs:integer" />
															<xs:attribute name="ref" />
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="attribute" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence minOccurs="0">
													<xs:element name="simpleType" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="restriction">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element
																				name="enumeration">
																				<xs:complexType>
																					<xs:attribute
																						name="value"
																						use="required" />
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																		<xs:attribute name="base"
																			use="required" />
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="name" use="required" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="name" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="elementFormDefault" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>